@CHARSET "UTF-8";


body{
	width:100%;
	height: 100%;
	margin: 0;
}

.bg-image {
    background-image: url("univer-light.jpg");
    background-size: cover;
    background-position: center center;
    
}

div.html{

	width: 80%;
	margin:  auto;
	padding-top: 50px;

}

table
{
	font-size: 18px;
	border-spacing: 0px;
}


td{
	border: thin solid black;
	padding: 5px;
	text-align: center;
	background: white;
}

div.content{
	padding: 10px;
	
}

div.header{
	//border: thin solid;
	//margin-top:50px;
//	background: #aaddFF;


}


div.boot{
	//border: thin solid;
//	background: #99CCFF;
	text-align: center;
	font-size: 11px;
}

div.navi{
	text-align: center;
	//background: white;
	margin: 30px;
	//padding: 10px;
	//height: 20px;
}

a.navi_link{
	color: white;
	margin: 10px;

}


