<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
     
    <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="username" value="root"/>
        <property name="password" value="8926sas"/>
        <property name="url" value="jdbc:mysql://localhost:3306/salnikova2"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="maxActive" value="30"/>        
         <property name="maxIdle" value="8"/>
        <property name="minIdle" value="2"/>   
        <property name="validationQuery" value="select count(1) from users"/>         
        <property name="testOnBorrow" value="true"/>          
    </bean>
    
    <bean id="npjt" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
        <constructor-arg ref="ds"></constructor-arg>               
    </bean>
    

    
    <bean id="storage" class="salnikova.orm.StorageImpl">
           <property name="npjt" ref="npjt"/>   
    </bean>
    



    
    <bean id="controlDao" class="salnikova.dao.ControlDao">
         <property name="storage" ref="storage" />                   
    </bean>
    
    <bean id="docDao" class="salnikova.dao.DocDao">
        <property name="npjt" ref="npjt"/>      
          <property name="storage" ref="storage" />            	                    
    </bean>
    
    <bean id="groupsDao" class="salnikova.dao.GroupsDao">
          <property name="storage" ref="storage" />           	                    
    </bean>
    
    <bean id="studentsDao" class="salnikova.dao.StudentsDao"> 
         <property name="storage" ref="storage" />                   
    </bean>
    
    <bean id="summaryDao" class="salnikova.dao.SummaryDao">  
            <property name="storage" ref="storage" />               	                    
    </bean>

    <bean id="depDao" class="salnikova.dao.DepartmentsDao">
          <property name="storage" ref="storage" />    
    </bean>
        
	<bean class="salnikova.dao.TutorsDao">
          <property name="storage" ref="storage" /> 	        
         <property name="npjt" ref="npjt"/>              
	</bean>
	

</beans>